@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic,latin-ext');
* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 650px;
    margin: 0 auto;
}

h1, h2 {
    color: #fff;
}

h1 {
    font-family: 'Russo One', serif;
    order: 2;
}

#score {
    font-family: 'Russo One', serif;
    order: 3;
}

#time {
    font-family: 'Russo One', serif;
    order: 1;
}

#board {
    border: 1px solid #fff;
    height: 690px;
    margin: 0 auto;
    position: relative;
    width: 690px;
}

#character {
    /* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/35a6d16c-bcd7-45cb-b718-ddcfbcebe02e/d95duo4-ca398546-f25b-42d9-bd3a-6e303e845d9d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM1YTZkMTZjLWJjZDctNDVjYi1iNzE4LWRkY2ZiY2ViZTAyZVwvZDk1ZHVvNC1jYTM5ODU0Ni1mMjViLTQyZDktYmQzYS02ZTMwM2U4NDVkOWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jf4Og0FcdoHGlwjnSlqJdJwuu449c6b2ThysXmc3z_8'); */
    background: orange;
    /* background-position: ; */
    /* background-size: ; */
    height: 30px;
    position: absolute;
    transition: all 0.1s;
    width: 30px;
}

.wall {background-image: url('http://pixelartmaker.com/art/52729392032d215.png');
    /* background: rgb(38, 255, 0); */
    background-size: contain;
    height: 30px;
    position: absolute;
    width: 30px;
}

.ghosts {
    background-color: lightblue;
    background-size: contain;
    height: 30px;
    position: absolute;
    width: 30px;
    transition: all 0.25s;
}

.dots {
    background: url('https://res.cloudinary.com/dg98/image/upload/v1562868591/853931_pixel-coin-png.png');
    background-size: contain;
    height: 30px;
    position: absolute;
    width: 30px;
}