@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic,latin-ext');
* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
}

body {
    background-color: black;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 650px;
    margin: 0 auto;
}

h1, h2 {
    color: #fff;
}

h1 {
    font-family: 'Russo One', serif;
    order: 2;
}

#score {
    font-family: 'Russo One', serif;
    order: 3;
}

#time {
    font-family: 'Russo One', serif;
    order: 1;
}

#board {
    border: 1px solid #fff;
    height: 690px;
    margin: 0 auto;
    position: relative;
    width: 690px;
    z-index: 0;
}

#character {
    background-image: url('https://res.cloudinary.com/dg98/image/upload/c_limit,h_30,w_500/v1562948088/pacman-spritesheet.png');
    background-position: 0px 0px;
    height: 30px;
    position: absolute;
    transition: all 0.1s;
    width: 30px;
}
#character.mouth {
    background-image: url('https://res.cloudinary.com/dg98/image/upload/c_limit,h_30,w_500/v1562948088/pacman-spritesheet.png');
    background-position: 458px 0px;
}

.wall {background-image: url('https://res.cloudinary.com/dg98/image/upload/v1562882532/52729392032d215.png');
    /* background: rgb(38, 255, 0); */
    background-size: contain;
    height: 30px;
    position: absolute;
    width: 30px;
}

.ghosts {
    background-image: url('https://res.cloudinary.com/dg98/image/upload/c_limit,h_160,w_160/v1562948355/cbacdb54a4bb09f.png');
    /* background-color: lightblue; */
    background-position: 0 0;
    background-size: 150px 150px;
    height: 30px;
    position: absolute;
    width: 30px;
    transition: all 0.25s;
    z-index: 2;
}

.dots {
    background: url('https://res.cloudinary.com/dg98/image/upload/v1562868591/853931_pixel-coin-png.png');
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 1;
}

/* .red {
    background: red;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1000;
} */